Django==4.2.5
django-cors-headers==4.2.0
django-ninja==0.22.2
django-ninja-crud==0.3.1
django-ninja-extra==0.19.7
django-ninja-jwt==5.2.5
django-simple-history==3.4.0
djangorestframework==3.14.0
drf-yasg==1.21.7
python-decouple==3.8
six==1.16.0
pytest==7.4.2
pytest-django==4.5.2
polyfactory==2.10.0
django-ordered-model==0.4.2