/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
 height: auto;
 width: 100%;
 display: flex;

}

.app {
  display: flex;
  position: relative;

} */

.btn-cancel {
  padding: 10px 24px 10px 24px !important;
  background-color: #F1F1F2 !important;
  color: #181C32 !important;
  box-shadow: none !important;
  border-radius: 6px !important;
  text-transform: capitalize !important;
}

.btn-cancel:hover {
  background-color: #F1F1F2 !important;
  color: #7E8299 !important;
  box-shadow: none !important;
}

.btn-success{
  padding: 10px 24px 10px 24px !important;
  border-radius: 6px !important;
  text-transform: capitalize !important;
}


.main-header {
  position: sticky !important;
  top: 0px !important;
  width: 100% !important;
}

.main-content{
  padding: 20px;
  border-radius: 12px !important;
  background: #FAFAFB !important;
  height: 100%;
  overflow: auto;
}
.main {
  flex-grow: 1;
  margin-top: 0px !important;
  padding: 0px !important;
  height: 100vh !important;
  width: calc(800px - -98px);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1976d2; 
  border-radius: 50px;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  border-right: 0px!important;
}

.MuiBox-root {
  border-right: unset !important;
}

.MuiPaper-root {
  border-right: 0px !important;
  border-bottom: unset !important;
}

.MuiToolbar-root {
  padding-left: 12px !important;
}

.mantine-1lwx4nh {
  border-radius: 12px;
  border: 1px solid rgba(225, 227, 234, 0.50) !important;
}

.MuiDataGrid-columnHeaders {
  border-top-right-radius: unset !important;
  border-top-left-radius: unset !important;
}

